[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2"

[dev-packages]
diagrams = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
pytest-cov = "*"
ipdb = "*"

[requires]
python_version = "3.8"
